# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyc

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# IDE & Editor Files
# =========================
.vscode/
.idea/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/

# =========================
# Test Files
# =========================
.pytest_cache/
.coverage

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Streamlit Secrets
# =========================
.streamlit/secrets.toml

# =========================
# Azure ML Logs
# =========================
azureml-logs/
logs/

# =========================
# OS Files
# =========================
Thumbs.db
.DS_Store

# =========================
# Temporary Files
# =========================
temp/
tmp/
*.tmp

# =========================
# Dataset Videos
# =========================
*.mp4
*.avi
*.mov
*.mkv

# =========================
# Backup Files
# =========================
*.bak
*.swp
